# Notebook Title
---
Description

---
## Notebook Section

### Notebook Subsection

Markdown commentary.

In [376]:
# imports 
import pandas as pd
import numpy as np
import random
# Set seed
np.random.seed(42)
random.seed(42)

In [377]:
data = pd.read_csv('../data/data_final.csv')
data.head()

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,rate:__crimes_against_society,rate:__fraud_and_other_financial_crimes,rate:__property_crime,rate:__violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty,total_crime_count,total_crime_rate,log_total_crime_rate
0,AL,2022,4916000,0.645,0.252,0.0480,0.0140,0.002,0.0,0.039,...,189.36,36.01,253.48,298.96,73000.0,819.25,240000.000000,39465.0,777.81,6.657767
1,AL,2021,4900800,0.644,0.255,0.0470,0.0130,0.004,0.0,0.037,...,128.17,24.48,219.86,218.90,86000.0,819.25,245000.000000,29868.0,591.41,6.384199
2,AL,2020,4833950,0.649,0.260,0.0455,0.0135,0.004,0.0,0.028,...,13.00,1.79,12.91,16.67,82000.0,819.25,249833.333333,2233.0,44.37,3.814851
3,AL,2019,4767100,0.654,0.265,0.0440,0.0140,0.004,0.0,0.019,...,3.74,1.21,6.80,4.32,74000.0,800.00,228000.000000,808.0,16.07,2.837323
4,AL,2018,4752600,0.656,0.265,0.0430,0.0130,0.010,0.0,0.019,...,1.31,0.62,1.47,2.09,86000.0,829.00,255000.000000,276.0,5.49,1.870263

In [378]:
df_engineered = data.copy()

### Feature Engineering:

In [380]:

# Interaction Terms
#youth not in school and poverty rate
#df_engineered['youth_school_poverty_interaction'] = data['youth_not_in_school'] * data['poverty_rate']

# poverty rate and median income interaction
#df_engineered['poverty_income_interaction'] = data['poverty_rate'] * data['median_income']

# unemployment rate and youth not in school interaction
df_engineered['unemployment_youth_interaction'] = data['unemployment_rate'] * data['youth_not_in_school']

# Polynomial Features
# poverty rate
df_engineered['poverty_rate_squared'] = data['poverty_rate'] ** 2

# median income
#df_engineered['median_income_squared'] = data['median_income'] ** 2

# Ratio Features
# poverty rate to median income ratio
#df_engineered['poverty_to_income_ratio'] = data['poverty_rate'] / (data['median_income'] + 1)

# youth not in school to total population ratio
#df_engineered['youth_to_total_pop_ratio'] = data['youth_not_in_school'] / (data['total_pop'] + 1)
'''
# one-hot encoding for categorical features
categorical_features = ['state']
ohe = OneHotEncoder(drop='first', sparse_output=False,handle_unknown='ignore')
encoded_features = ohe.fit_transform(data[categorical_features])
encoded_df = pd.DataFrame(encoded_features, columns=ohe.get_feature_names_out(categorical_features))

# concatenating the encoded features with the original dataframe
df_engineered = pd.concat([df_engineered.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)
df_engineered.drop(columns= 'state',inplace=True)
'''

"\n# one-hot encoding for categorical features\ncategorical_features = ['state']\nohe = OneHotEncoder(drop='first', sparse_output=False,handle_unknown='ignore')\nencoded_features = ohe.fit_transform(data[categorical_features])\nencoded_df = pd.DataFrame(encoded_features, columns=ohe.get_feature_names_out(categorical_features))\n\n# concatenating the encoded features with the original dataframe\ndf_engineered = pd.concat([df_engineered.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)\ndf_engineered.drop(columns= 'state',inplace=True)\n"

In [381]:
df_engineered.head()

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,rate:__property_crime,rate:__violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty,total_crime_count,total_crime_rate,log_total_crime_rate,unemployment_youth_interaction,poverty_rate_squared
0,AL,2022,4916000,0.645,0.252,0.0480,0.0140,0.002,0.0,0.039,...,253.48,298.96,73000.0,819.25,240000.000000,39465.0,777.81,6.657767,1825.0,0.018496
1,AL,2021,4900800,0.644,0.255,0.0470,0.0130,0.004,0.0,0.037,...,219.86,218.90,86000.0,819.25,245000.000000,29868.0,591.41,6.384199,2924.0,0.025281
2,AL,2020,4833950,0.649,0.260,0.0455,0.0135,0.004,0.0,0.028,...,12.91,16.67,82000.0,819.25,249833.333333,2233.0,44.37,3.814851,5248.0,0.022201
3,AL,2019,4767100,0.654,0.265,0.0440,0.0140,0.004,0.0,0.019,...,6.80,4.32,74000.0,800.00,228000.000000,808.0,16.07,2.837323,2368.0,0.016641
4,AL,2018,4752600,0.656,0.265,0.0430,0.0130,0.010,0.0,0.019,...,1.47,2.09,86000.0,829.00,255000.000000,276.0,5.49,1.870263,3354.0,0.025600

In [382]:
df_engineered.to_csv('../data/data_engineered.csv',index=False)

In [383]:
final_data = data.to_csv('../data/data.csv',index=False)

In [384]:
df_engineered.shape

(312, 36)